<p>
  Frame Anfang:<input [(ngModel)]="frameAnfang"> 
  Frame Ende:<input [(ngModel)]="frameEnde">  
  <button (click)="updateMaxChart()">max Temp.</button>
  </p>
  
  <p>
  Frame Anfang:<input [(ngModel)]="frameAnfang"> 
  Frame Ende:<input [(ngModel)]="frameEnde">
  Frame Intervall:<input [(ngModel)]="frameIntervall">  
  Pixel Abstand:<input [(ngModel)]="pixelEntfernung">  
  <button (click)="updateVarMesspunktMaxTempChart()">var. Messpunkt-Temperatur</button>
</p>

<div class="form-group">
  <label for="Datenbank">Datenbank</label>
  <select class="form-control"
          [(ngModel)]="dbSelected">
    <option *ngFor="let db of databases" [value]="db.name">{{db.name}}</option>
  </select>
</div>